<div class="ui green inverted large menu">
  <%= link_to 'Chatroom', root_path, class: "item" %>     
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <% if logged_in? %>
      <div class="ui dropdown item">
        Acount <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to 'Edit account', edit_user_path(current_user), class: "item" %>
          <%= link_to 'Log out', logout_path, method: :delete, class: "item" %>          
        </div>
      </div>
    <% else %>
        <%= link_to 'Login', login_path, class: "item" %>
        <div class="item">
          <%= link_to 'Sign Up', signup_path, class: "ui blue button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>